/* bluediv */

.bluediv3 {
    color: white;
    background: #3435FF;
    box-sizing: border-box;
    padding-left: 4.88rem; /* 78px */
}

.bluediv3 h1 {
    width: 71.19vw; /* 1139px on 1600px screen */
    height: 9.38rem; /* 150px */
    padding-top: 2.06rem; /* 33px */
    margin-bottom: 10.63rem; /* 170px */
}

.bluediv3 p {
    width: 63.94vw; /* 1023px on 1600px screen */
    height: 14.75rem; /* 236px */
}

/* basketdiv */

.basketdiv {
    margin-top: 1rem; /* 16px */
    margin-left: 3.63rem; /* 58px */
}

.basketdiv h2 {
    width: 36.69vw; /* 587px on 1600px screen */
    margin-top: 8.88rem; /* 142px */
}

.basketdiv p {
    width: 20.31vw; /* 325px on 1600px screen */
    margin-left: 2.44rem; /* 39px */
    margin-right: 10rem; /* 160px */
}

.basketdiv .basket {
    height: 36.19vw; /* 579px on 1600px screen */
    width: 31.81vw; /* 509px on 1600px screen */
    margin-bottom: 7.88rem; /* 126px */
}