/* bluediv */

.bluediv3 {
    color: white;
    background: #3435FF;
    box-sizing: border-box;
    padding-left: 78px;
}

.bluediv3 h1 {
    width: 1139px;
    height: 150px;
    padding-top: 33px;
    margin-bottom: 170px;
}

.bluediv3 p {
    width: 1023px;
    height: 236px;
}

/* basketdiv */

.basketdiv {
    margin-top: 16px;
    margin-left: 58px;
}

.basketdiv h2 {
    width: 587px;
    margin-top: 142px;
}

.basketdiv p {
    width: 325px;
    margin-left: 39px;
    margin-right: 160px;
}

.basketdiv .basket {
    height: 579px;
    width: 509px;
    margin-bottom: 126px;
}