.bluediv5 {
    background-color: #3435FF;
    height: 12.75rem; /* 204px */
    color: white;
}

.bluediv5 h1 {
    padding-top: 3.25rem; /* 52px */
    margin-left: 28.75rem; /* 460px */
}

.contactText {
    margin-left: 10.88rem; /* 174px */
    margin-right: 7.06rem; /* 113px */
}

.contactText h2 {
    margin-top: 12.19rem; /* 195px */
}

.contactText p {
    width: 25.56rem; /* 409px */
}

.form {
    margin-top: 4.31rem; /* 69px */
    padding-top: 0.625rem; /* 10px */
    padding-left: 2.75rem; /* 44px */
    padding-right: 2.75rem; /* 44px */
    background-color: white;
    margin-bottom: 3.69rem; /* 59px */
}

.form input {
    height: 2.25rem; /* 36px */
    margin-bottom: 2.5rem; /* 40px */
    margin-top: 0.56rem; /* 8.92px */
    width: 35.63rem; /* 570px */
}

.form textarea {
    width: 35.63rem; /* 570px */
    height: 11.5rem; /* 184px */
    margin-top: 0.56rem; /* 8.92px */
    border-radius: 0.4375rem; /* 7px */
    border-width: 0.0625rem; /* 1px */
    border-color: #3435FF;
}

.logo {
    width: 12.63rem; /* 202px */
    height: 12.63rem; /* 202px */
    margin-left: 3.63rem; /* 58px */
    margin-top: 1.88rem; /* 30px */
    transform: rotate(-13.55deg);
}

.name input {
    width: 14.38rem; /* 230px */
    margin-right: 3.06rem; /* 49px */
}

.form button {
    width: 31.25rem; /* 500px */
    height: 2.625rem; /* 42px */
    margin-left: 2.19rem; /* 35px */
    margin-bottom: 2rem;
}