h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 16px;
}

.PageButton {
    width: 324px;
    height: 40px;
}

/* bluediv */

.bluediv {
    color: white;
    background: #3435FF;
    box-sizing: border-box;
}

.bluediv h1 {
    width: 752px;
    height: 129px;
    padding-top: 33px;
    padding-left: 78px;
}

.bluediv p {
    padding-left: 78px;
    padding-top: 14px;
    width: 542px;
}

.bluediv img {
    padding-top: 8px;
    padding-left: 200px;
}

.bluediv .PageButton {
    margin-top: 14px;
    margin-left: 78px;
    margin-bottom: 123px;
}

/* roundLogo */

.roundLogo {
    padding-top: 73px;
}

.roundLogo img {
    width: 500px;
    height: 500px;
    margin-left: 133px;
    margin-right: 181px;
}

.roundLogo h2 {
    margin-top: 177px;
}

.roundLogo p {
    width: 450px;
}

.roundLogo .PageButton {
    margin-top: 28px;
}

/* platediv */

.platediv {
    margin-top: 72px;
}

.platediv .plate {
    width: 558.1683393509807px;
    height: 489.0022158560616px;
    transform: rotate(7deg);
    padding-left: 133px;
    padding-right: 230px;
}

.platediv .numberShape {
    padding-left: 0px;
    width: 48px;
    height: 48px;
    margin-bottom: 0px;
    margin-top: 42px;
}

.platediv p {
    margin-top: 2px;
    width: 450px;
}

.platediv h3 {
    margin-top: 0px;
    margin-bottom: 2px;
}

.platediv .shapeNumber {
    position: absolute;
    font-size: 24px;
    margin-top: 50px;
    margin-left: -39px;
    color: white;
}

.platediv .numberedShape {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.platediv .PageButton {
    margin-top: 32px;
}