/* bluediv */

.bluediv {
    color: white;
    background: #3435FF;
    box-sizing: border-box;
}

.bluediv h1 {
    width: 752px;
    height: 129px;
    padding-top: 33px;
    padding-left: 78px;
}

.bluediv p {
    padding-left: 78px;
    padding-top: 44px;
    width: 542px;
}

.bluediv img {
    padding-top: 8px;
    padding-left: 200px;
}

.bluediv .PageButton {
    margin-top: 14px;
    margin-left: 78px;
    margin-bottom: 123px;
}

/* roundLogo */

.roundLogo {
    padding-top: 73px;
}

.roundLogo img {
    margin-top: 134px;
    margin-left: 105px;
    margin-right: 109px;
}

.roundLogo h2 {
    margin-top: 177px;
}

.roundLogo p {
    width: 450px;
}

.roundLogo .PageButton {
    margin-top: 28px;
}

/* platediv */

.platediv {
    margin-top: 72px;
}

.platediv .plate {
    width: 558.1683393509807px;
    height: 489.0022158560616px;
    transform: rotate(7deg);
    padding-left: 133px;
    padding-right: 230px;
}

.platediv p {
    margin-top: 2px;
    width: 450px;
}

.platediv h3 {
    margin-top: 0px;
    margin-bottom: 2px;
}

.platediv .PageButton {
    margin-top: 32px;
}