/* bluediv */

.bluediv2 {
    color: white;
    background: #3435FF;
    box-sizing: border-box;
    padding-left: 78px;
}

.bluediv2 h1 {
    width: 717px;
    height: 50px;
    padding-top: 33px;
    margin-bottom: 140px;
}

.bluediv2 p {
    width: 867px;
    height: 180px;
}

.bluediv2 .PageButton {
    margin-bottom: 35px;
}

.bluediv2 img {
    margin-right: 120px;
    margin-top: 20px;
}

/* div2 */

.div2 {
    padding-left: 78px;
}

.div2 .p1 {
    width: 515px;
}

.div2 .p2 {
    width: 387px;
}

.div2 img {
    margin-top: 41px;
    padding-left: 140px;
    margin-bottom: 51px;
}

.div2 .h2 {
    margin-top: 80px;
}