.login {
    background-color: white;
    width: 65.56vw; /* 1049px on 1600px screen */
    margin-left: 15.63vw; /* 250px on 1600px screen */
    margin-top: 7.69rem; /* 123px */
    margin-bottom: 2.5rem; /* 40px */
}

.login h1 {
    padding-top: 3.25rem; /* 52px */
    text-align: center;
}

.login p {
    color: black;
    font-size: 1.05rem; /* 16.8px */
    text-align: center;
}

.login input {
    width: 38rem; /* 608px */
    height: 2.625rem; /* 42px */
    margin-top: 0.625rem; /* 10px */
    margin-bottom: 0.94rem; /* 15px */
    margin-left: 12.81vw; /* 205px on 1600px screen */
}

.login label {
    margin-left: 12.81vw; /* 205px on 1600px screen */
}

.login button {
    margin-left: 16.81vw; /* 269px on 1600px screen */
    width: 31.25rem; /* 500px */
    height: 2.625rem; /* 42px */
    margin-top: 3.31rem; /* 53px */
    margin-bottom: 2.94rem; /* 47px */
}

.forgot button {
    margin-left: 31.06vw; /* 497px on 1600px screen */
}