.login {
    background-color: white;
    width: 1049px;
    margin-left: 250px;
    margin-top: 123px;
    margin-bottom: 40px;
}

.login h1 {
    padding-top: 52px;
    text-align: center;
}

.login p {
    color: black;
    font-size: 16.8px;
    text-align: center;
}

.login input {
    width: 608px;
    height: 42px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 205px;
}

.login label {
    margin-left: 205px;
}

.login button {
    margin-left: 269px;
    width: 500px;
    height: 42;
    margin-top: 53px;
    margin-bottom: 47px;
}

.forgot button {
    margin-left: 497px;
}