.bluediv4 {
    background-color: #3435FF;
    height: 527px;
    color: white;
}

.bluediv4 h1 {
    margin-left: 480px;
    padding-top: 38px;
    margin-bottom: 46px;
}

.bluediv4 img {
    width: 1536px;
    height: 411px;
    object-fit: cover;
}

.divInfo {
    padding-top: 74px;
}

.divInfo h2 {
    margin-left: 84px;
}

.divPresse {
    padding-top: 143px;
}

.divPresse h2 {
    margin-left: 84px;
}