.password {
    background-color: white;
    width: 1172px;
    height: 1067px;
    margin-left: 220px;
    margin-bottom: 140px;
}

.password .title {
    margin-top: 78px;
}

.password img {
    width: 400px;
    height: 400px;
    margin-left: 386px;
}

.password h1 {
    text-align: center;
}

.password input {
    margin-left: 282px;
    width: 608px;
    height: 42px;
    margin-bottom: 22px;
    margin-top: 10px;
}

.password label {
    margin-left: 282px;
}

.password button {
    width: 500px;
    height: 42px;
    margin-left: 328px;
}

.password p {
    color: red;
    font-size: 12px;
    margin-top: 38px;
    text-align: center;
}