.password {
    background-color: white;
    width: 73.25vw; /* 1172px on 1600px screen */
    height: 66.69vw; /* 1067px on 1600px screen */
    margin-left: 13.75vw; /* 220px on 1600px screen */
    margin-bottom: 8.75rem; /* 140px */
}

.password .title {
    margin-top: 4.88rem; /* 78px */
}

.password img {
    width: 25rem; /* 400px */
    height: 25rem; /* 400px */
    margin-left: 24.13vw; /* 386px on 1600px screen */
}

.password h1 {
    text-align: center;
}

.password input {
    margin-left: 17.63vw; /* 282px on 1600px screen */
    width: 38rem; /* 608px */
    height: 2.625rem; /* 42px */
    margin-bottom: 1.375rem; /* 22px */
    margin-top: 0.625rem; /* 10px */
}

.password label {
    margin-left: 17.63vw; /* 282px on 1600px screen */
}

.password button {
    width: 31.25rem; /* 500px */
    height: 2.625rem; /* 42px */
    margin-left: 20.5vw; /* 328px on 1600px screen */
}

.password p {
    color: red;
    font-size: 0.75rem; /* 12px */
    margin-top: 2.375rem; /* 38px */
    text-align: center;
}