.register {
    background-color: white;
    width: 918px;
    margin-left: 300px;
}

.register h1 {
    text-align: center;
    padding-top: 32px;
}

.register input {
    margin-left: 48px;
    margin-top: 10px;
    margin-bottom: 21px;
}

.register .FormInput {
    width: 762px;
    height: 42px;
}

.register label {
    margin-left: 48px;
}

.register .date {
    color: #1C7FD5;
    margin-bottom: 0px;
    width: 190px;
    height: 44px;
}


.register .center {
    text-align: center;
}

.register-button {
    /* bouton au centre*/
    text-align: center;
    margin-left: 25%;
    margin-bottom: 10px;
    width: 50%;
    background-color: #FF8200;
    color: white;
}

.img-center {
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-center img {
    width: 300px;
    height: 300px;
}

/* .situation input {
}

.revenus {
}
*/
.legal {
    width: 30rem;
    background: rgb(184, 183, 183);
    padding: 10px;
    margin-left: 48px;
    border-radius: 10px;
}