.register {
    background-color: white;
    width: 57.38vw; /* 918px on 1600px screen */
    margin-left: 18.75vw; /* 300px on 1600px screen */
}

.register h1 {
    text-align: center;
    padding-top: 2rem; /* 32px */
}

.register input {
    margin-left: 3rem; /* 48px */
    margin-top: 0.625rem; /* 10px */
    margin-bottom: 1.31rem; /* 21px */
}

.register .FormInput {
    width: 47.63vw; /* 762px on 1600px screen */
    height: 2.625rem; /* 42px */
}

.register label {
    margin-left: 3rem; /* 48px */
}

.register .date {
    color: #1C7FD5;
    margin-bottom: 0;
    width: 11.88rem; /* 190px */
    height: 2.75rem; /* 44px */
}

/* .situation input {
}

.revenus {
}

.legal {
} */